# Hello World

In [1]:
print("Hello World")

Hello World

# Getting Dataset

In [43]:
import pandas as pd
data = pd.read_csv("data.csv")

In [3]:
data.head()

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Alternate names,Name in the language,Number of speakers,Sources,Latitude,Longitude,Description of the location
0,1022,South Italian,italien du sud,napolitano-calabrés,Italy,ITA,nap,Vulnerable,Neapolitan; Neapolitan-Calabrese; неаполитанск...,NaN,7500000.0,NaN,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,sicilien,siciliano,Italy,ITA,scn,Vulnerable,NaN,NaN,5000000.0,NaN,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,bas-saxon,bajo sajón,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,"Low German, Niedersächsisch, Nedersaksisch, Ni...",Neddersassisch,4800000.0,NaN,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,biélorusse,bielorruso,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,NaN,NaN,4000000.0,Hienadź Cychun: Weißrussisch. — Lexikon der Sp...,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,lombard,lombardo,"Italy, Switzerland","ITA, CHE",lmo,Definitely endangered,NaN,NaN,3500000.0,NaN,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [4]:
data.tail()

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Alternate names,Name in the language,Number of speakers,Sources,Latitude,Longitude,Description of the location
2717,1972,Yonaguni,yonaguni,yonaguni,Japan,JPN,yoi,Severely endangered,NaN,NaN,NaN,Yukio Uemura: The Ryukyuan language. Endangere...,24.4580,122.9802,Yonaguni Island
2718,2018,Yucuna,yucuna,yucuna,Colombia,COL,ycn,Definitely endangered,NaN,NaN,NaN,NaN,-1.2633,-70.6640,NaN
2719,2015,Yurutí (Colombia),yurutí (Colombie),yurutí (Colombia),Colombia,COL,yui,Definitely endangered,NaN,NaN,NaN,NaN,1.1370,-70.2136,NaN
2720,2716,Zangskari,zangskari,zangskari,"India, Pakistan","IND, PAK",zau,Definitely endangered,"Zangs-dkar, Z’angkar",NaN,NaN,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,zidgali,zidgali,Oman,OMN,NaN,Critically endangered,"Zidjali, Zadjali",NaN,NaN,No authoritative source found yet; information...,23.4027,58.0957,Capital area of Muscat

In [5]:
Rdata = data.drop(['Name in French','Name in Spanish','ISO639-3 codes','Sources','Alternate names','Name in the language','Latitude','Longitude','Description of the location'], axis ='columns')

In [6]:
Rdata.head()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0

In [7]:
Rdata.tail()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN

In [8]:
Rdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722 entries, 0 to 2721
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      2722 non-null   int64
 1   Name in English         2722 non-null   object
 2   Countries               2721 non-null   object
 3   Country codes alpha 3   2721 non-null   object
 4   Degree of endangerment  2722 non-null   object
 5   Number of speakers      2539 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 127.7+ KB

In [14]:
Dm = pd.get_dummies(Rdata["Degree of endangerment"])
Fdata = pd.concat([Rdata, Dm], axis='columns')
Fdata.head()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,0,0,0,0,1
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,0,0,0,0,1
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,0,0,0,0,1
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,0,0,0,0,1
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,0,1,0,0,0

# Basic Data Visualization

In [17]:
Rdata["Degree of endangerment"].value_counts()

Definitely endangered    680
Vulnerable               628
Critically endangered    607
Severely endangered      554
Extinct                  253
Name: Degree of endangerment, dtype: int64

In [18]:
Fdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722 entries, 0 to 2721
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      2722 non-null   int64
 1   Name in English         2722 non-null   object
 2   Countries               2721 non-null   object
 3   Country codes alpha 3   2721 non-null   object
 4   Degree of endangerment  2722 non-null   object
 5   Number of speakers      2539 non-null   float64
 6   Critically endangered   2722 non-null   uint8
 7   Definitely endangered   2722 non-null   uint8
 8   Extinct                 2722 non-null   uint8
 9   Severely endangered     2722 non-null   uint8
 10  Vulnerable              2722 non-null   uint8
dtypes: float64(1), int64(1), object(4), uint8(5)
memory usage: 141.0+ KB

In [24]:
Fdata.columns

Index(['ID', 'Name in English', 'Countries', 'Country codes alpha 3',
       'Degree of endangerment', 'Number of speakers', 'Critically endangered',
       'Definitely endangered', 'Extinct', 'Severely endangered',
       'Vulnerable'],
      dtype='object')

In [49]:
Fdata['Critically endangered'],['Definitely endangered'], ['Extinct'], ['Severely endangered'],['Vulnerable']

(0       0
 1       0
 2       0
 3       0
 4       0
        ..
 2717    0
 2718    0
 2719    0
 2720    0
 2721    1
 Name: Critically endangered, Length: 2722, dtype: uint8,
 ['Definitely endangered'],
 ['Extinct'],
 ['Severely endangered'],
 ['Vulnerable'])

In [51]:
x = Fdata['Degree of endangerment']
x
y = Fdata['Number of speakers']
y
plt.Rdata.bar(x,y)
plt.show()
#plt.plot(ft["Degree of endangerment"])

NameError: name 'plt' is not defined

# African Languages

In [29]:
Fdata.columns

Index(['ID', 'Name in English', 'Countries', 'Country codes alpha 3',
       'Degree of endangerment', 'Number of speakers', 'Critically endangered',
       'Definitely endangered', 'Extinct', 'Severely endangered',
       'Vulnerable'],
      dtype='object')

In [30]:
Fdata["Countries"].value_counts()

United States of America                                         216
Brazil                                                           186
India                                                            163
Indonesia                                                        149
Mexico                                                           143
                                                                ...
Ireland, United Kingdom of Great Britain and Northern Ireland      1
Republic of Korea                                                  1
Hungary                                                            1
Germany, Czech Republic                                            1
Belgium, France, Netherlands                                       1
Name: Countries, Length: 252, dtype: int64

In [47]:
EAdata = Fdata[(Fdata.Countries == Kenya) | (Fdata.Countries == Ethiopia) | (Fdata.Countries == Tanzania) | (Fdata.Countries == Uganda) | (Fdata.Countries == Rwanda) | (Fdata.Countries == Burundi) | (Fdata.Countries == South Sudan) | (Fdata.Countries == Somalia)]
#Ethiopia, Tanzania, Uganda, Rwanda, Burundi, South Sudan and Somalia

SyntaxError: invalid syntax (<ipython-input-47-af0f1479f21e>, line 1)

# Renaming Country Code of Angola